<div class="auth-container--header">
<div class="container1">
<p>admin works!</p>
<p>Resize the window to see the layout change!</p>

<div class="container-layout" style="background: #666666;">
  <div class="header">
    <p>Header</p>
  </div>

  <div class="middle">
    <div class="left-sidebar">
      <p>Left Sidebar</p>
      <ul>
        <li>one</li>
        <li>two</li>
        <li>three</li>
      </ul>
    </div>

    <div class="content">
      <p>This is some content!</p>
      <p>This is some more content.</p>
    </div>

    <div class="right-sidebar">
      <p>Right Sidebar</p>
      <ul>
        <li>one</li>
        <li>two</li>
        <li>three</li>
      </ul>
    </div>
  </div>

</div>

<div class="footer-center" style="background: brown;">
  <div class="row1">
    <article class="col-md-41" style="background: wheat; padding: 0 15px;">
      Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary
    </article>
    <article class="col-md-41" style="background: #666666; padding: 0 15px;">
      Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary
    </article>
    <article class="col-md-41" style="background: #2691d9; padding: 0 15px;">
      Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary
    </article>
    <article class="col-md-41" style="background: #e9f4fb; padding: 0 15px;">
      Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary
    </article>
  </div>
</div>


  <div class="footer">
    <p>Footer</p>
  </div>
</div>
</div>
