<ng-container>
  <app-header></app-header>
  <div class="container" id="container">
    <div class="form-container sign-up-container">
      <form action="#">
        <h1>Create Account</h1>
        <div class="social-container">
          <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
          <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <span>or use your email for registration</span>
        <div class="infield">
          <input type="text" placeholder="Name" />
          <label></label>
        </div>
        <div class="infield">
          <input type="email" placeholder="Email" name="email"/>
          <label></label>
        </div>
        <div class="infield">
          <input type="password" placeholder="Password" />
          <label></label>
        </div>
        <button>Sign Up</button>
      </form>
    </div>
    <div class="form-container sign-in-container">
      <form action="#">
        <h1>Sign in</h1>
        <div class="social-container">
          <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
          <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <span>or use your account</span>
        <div class="infield">
          <input type="email" placeholder="Email...." name="email"/>
          <label></label>
        </div>
        <div class="infield">
          <input type="password" placeholder="Password......" />
          <label></label>
        </div>
        <a href="#" class="forgot">Forgot your password?</a>
        <button>Sign In</button>
      </form>
    </div>
    <div class="overlay-container" id="overlayCon">
      <div class="overlay">
        <div class="overlay-panel overlay-left">
          <h1>Welcome Back!</h1>
          <p>To keep connected with us please login with your personal info</p>
          <button>Sign In</button>
        </div>
        <div class="overlay-panel overlay-right">
          <h1>Hello, Friend!</h1>
          <p>Enter your personal details and start journey with us</p>
          <button>Sign Up</button>
        </div>
      </div>
      <button id="overlayBtn"></button>
    </div>
  </div>
-->
  <footer>
    <mark>See more on <a href="https://www.youtube.com/channel/UCHIkJZkap10qGFHq5ViIExg">Karacode</a></mark>
  </footer>
  <app-footer></app-footer>
</ng-container>

<!--
<header> - Defines a header for a document or a section
<nav> - Defines a set of navigation links
<section> - Defines a section in a document
<article> - Defines an independent, self-contained content
<aside> - Defines content aside from the content (like a sidebar)
<footer> - Defines a footer for a document or a section
<details> - Defines additional details that the user can open and close on demand
<summary> - Defines a heading for the
<details> element

https://developer.mozilla.org/en-US/docs/Web/API/EventTarget/addEventListener
-->



<!--    <app-footer></app-footer>-->


<!-- https://www.neimanmarcus.com/checkout -->
<!-- https://matthewjamestaylor.com/2-column-layouts#responsive-2-column -->

<!--
    <div class="holy-grail-floated-blocks">
      <header class="header">Header</header>
      <div class="right-wrap">
        <div class="main-wrap">
          <div class="left-wrap">
            <main class="main-content">Main content</main>
            <section class="left-sidebar">Left sidebar</section>
            <aside class="right-sidebar">Right sidebar</aside>
          </div>
        </div>
      </div>
      <footer class="footer">Footer</footer>
    </div>
-->

<!--
    <div class="layoutWrapper cyRLsJ">
      <div class="Header-container_q1kpX">
        <a class="Header-logolink__MEI32" href="/">
          <img class="Header_logo__GAD9C" src="#" width="194" height="76" alt=""><h6></h6></a>
        <div class="Header_menu__Vqx1W">
          <div class="Header_menuItem__cHH9v"><img src="#" alt="US Flag"></div>
          <div class="undefined Header-menuItem__cHH9v">+1 877.955.9595</div>
        </div>
    </div>
    <div class="Wrapper-sc-1u0gc4h-0 gWiIVS"></div>
    <div class="LayoutContent-sc-jcr8f1-1 kYXRxJ">
      <div class="CheckoutLayout bNeihr">
        <div class="ApplicationLayout fgZQeC">
          <div class="Wrapper-sc-pkmykc fpvfMt">
            <section class="FormStep-sc-pkmykc fPhiME">
              <h3 class="FormHeader cPGOes">Register with Us</h3>
              <form class="FormWrapper-sc cJptcV FormBody-sc dRmVqf">
                <div class="BillingForm-sc gWalHl">
                <div class="Row-sc-pkmykc-6 jwe0ao">
                  <div class="Field-sc-3dmege-0 fbwjhZ" width="50%">
                    <div class="InputWrapper gUrxPD">
                      <div class="MuiFormControl MuiTextField fZdvZs">
                      <label id="first-name" class="MuiFormLabel-root MuiInputLabel-root MuiInputLabel-formControl MuiInputLabel-animated MuiInputLabel-filled" for="first-name-input">First Name*</label>
                        <div class="MuiInputBase-root MuiFilledInput-root MuiInputBase-formControl">
                          <input id="first-name-billing-input" class="MuiInputBase-input MuiFilledInput-Input" name="firstName" type="text" value="">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="Field-sc-3dmege-0 fbwjhZ" width="50%">
                    <div class="InputWrapper gUrxPD">
                      <div class="MuiFormControl MuiTextField fZdvZs">
                        <label id="first-name" class="MuiFormLabel-root MuiInputLabel-root MuiInputLabel-formControl MuiInputLabel-animated MuiInputLabel-filled" for="first-name-input">First Name*</label>
                        <div class="MuiInputBase-root MuiFilledInput-root MuiInputBase-formControl">
                          <input id="first-name-billing-input" class="MuiInputBase-input MuiFilledInput-Input" name="firstName" type="text" value="">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="Row-sc-pkmykc-6 jwe0ao">eawaewaraeewfa</div>
                </div>

              </form>
            </section>
            <section class="FormStep-sc-pkmykc-1"></section>
            <section class="FormStep-sc-pkmykc-1"></section>
          </div>
        </div>
        <div class="WrapperOuter-sc-yvu26x-1 ezIvlP">
          <div class="Wrapper-sc-yvu26x-0 lgKaac"></div>
        </div>
      </div>
    </div>
    </div>
-->
<!--    <app-footer></app-footer>-->
<!--  </ng-container>-->
<!--</ng-container>-->
